<h1>Patient: <%= @patient.first_name + " " + @patient.middle_name + " " + @patient.last_name %></h1>
Date of birth: <%= @patient.date_of_birth.strftime("%m/%d/%Y") %><br>
Status: <%= @patient.status %><br>
Address: <%= @patient.address %><br>
City: <%= @patient.city %><br>
State: <%= @patient.state %><br>
Zip Code: <%= @patient.zip_code %><br>
<% fields = @patient.fields %>
<% fields.each do |field| %>
    <%= field.field_type.title %>: <%= field.content %><br>
<% end %>

<%= link_to "Edit patient", edit_patient_path(@patient) %><br>
<%= button_to "Delete patient",
              patient_path(@patient.id),
              method: :delete,
              form: { data: { turbo_confirm: "Are you sure?" } },
              class: "btn btn-danger" %>